{% extends "base.html" %}
{% block content %}
<h1>Bem-vindo, {{ user['primeiro_nome'] }}!</h1>
<p>Olá, {{ user['primeiro_nome'] }} {{ user['ultimo_nome'] }}. Sua conta está ativa desde {{ user['data_nascimento'] }}.</p>

<h2>Seus Lançamentos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for lancamento in lancamentos %}
        <tr>
            <td>{{ lancamento['descricao'] }}</td>
            <td>R$ {{ lancamento['valor'] | round(2) }}</td>
            <td>{{ lancamento['data_lancamento'] }}</td>
            <td>{{ lancamento['tipo'] }}</td>
            <td>
                <a href="{{ url_for('editar_lancamento', id=lancamento['id']) }}">Editar</a> 
                |
                <form action="{{ url_for('excluir_lancamento_route', lancamento_id=lancamento['id']) }}" method="POST" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Nenhum lançamento encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{{ url_for('lancamentos') }}">Adicionar novo lançamento</a>

<br><br>
<a href="{{ url_for('logout') }}">Logout</a>

<br><br>
<!-- Botão para exportar relatório em Excel -->
<form action="{{ url_for('exportar_relatorio_excel_route') }}" method="POST">
    <button type="submit" class="btn btn-primary">Exportar Relatório em Excel</button>
</form>



{% endblock %}
